.expandable {
    margin: 10px;
    pointer-events: visible;
    z-index: 10;
    overflow-x: hidden;
}

.expandable::-webkit-scrollbar {
    display: none;
}

.expandable-title {}

.expandable-content {
    max-height: inherit;
    color: aliceblue;
    transition: max-height 0.2s ease-out;
}

.expandable-content:hover {}