body {
    background-color: black;
    color: white;
}

main {
    color: white;
}

.title {
    color: aquamarine;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
}

.main-contents {
    z-index: 1;
    margin: 10%;
}

.expandable-container {
    justify-content: center;
    align-items: first baseline;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
/* 
@media only screen and (max-width: 1280px) {
    .expandable-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 720px) {
    .expandable-container {
        grid-template-columns: 1fr;
    }
} */