body {
    background-color: black;
    color: white;
}

main {
    color: white;
}

.title {
    color: aquamarine;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
}

.main-contents {
    z-index: 1;
    margin: 10%;
}

.expandable-container {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

@media only screen and (max-width: 960px) {
    .expandable-container {
        grid-template-columns: 1fr;
    }
}